# aws_ec2.yml

plugin: aws_ec2
regions:
  - us-east-1 

keyed_groups:
  - key: tags.Role
    prefix: role
hostnames:
  - tag:Name
  - public-ip-address 

compose:
  ansible_host: public_ip_address
  ansible_python_interpreter: /usr/bin/python3.13:wq
filters:
  instance-state-name: running
  tag:Name: "pf-*"
