- name: Instalar Python 3.9 y pip usando Shell (Evita el fallo del intérprete)
  ansible.builtin.shell: |
    apt update
    apt install -y python3.9 python3-pip

- name: Configurar ansible_python_interpreter para usar python3.9
  ansible.builtin.set_fact:
    ansible_python_interpreter: /usr/bin/python3.9

- name: 1. Instalar paquetes requeridos (Apache, PHP, dependencias)
  ansible.builtin.apt:
    name: ['apache2', 'php', 'php-mysql', 'libapache2-mod-php', 'wget', 'unzip', 'php-pgsql', 'postgresql-client']
    state: present
    update_cache: true

- name: 4. Asegurar que el servicio apache2 esté corriendo y habilitado al arranque
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: true
