- name: 1. Instalar Nginx
  ansible.builtin.apt:
    name: apache2
    state: present
    update_cache: true

- name: 2. Asegurar que el servicio Nginx esté corriendo y habilitado al arranque
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

#- name: 3. Crea un test web
#   ansible.builtin.copy:
#    dest: /var/www/html/index.html
#    content: "<h1>Esto es una presentación para Accenture</h1>"
