plugin: aws_ec2 

regions:
  - us-east-1

filters:
  instance-state-name: running
  "tag:Name": "*WordPress*"

keyed_groups:
  - key: tags.role 
    prefix: role

hostnames:
  - tag:Name
  - public-ip-address 

compose:
  ansible_host: public_ip_address
